/** Imports **/
@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap')

/** Variables **/

$bg: #0f0f22
$primary:#ffee00
$accent: #fff

/** Rules **/

*,
*::after,
*::before
  margin: 0
  padding: 0
  box-sizing: border-box

body
  background: $bg
  min-height: 100vh
  color: $accent
  font-family: 'Cookie', cursive
  font-size: 2rem

div.panels
  min-height: 100vh

  div.panel
    background: #6B0F9C
    text-align: center

    p:nth-child(2)
      font-size: 4rem

  div.panel1 
    background: url(https://source.unsplash.com/gYl-UtwNg_I/1500x1500)
  
  div.panel2
    background: url(https://source.unsplash.com/XlG8XoeHTJE/1500x1500)
  
  div.panel3 
    background: url(https://images.unsplash.com/photo-1465188162913-8fb5709d6d57?ixlib=rb-0.3.5&q=80&fm=jpg&crop=faces&cs=tinysrgb&w=1500&h=1500&fit=crop&s=967e8a713a4e395260793fc8c802901d)
  
  div.panel4 
    background: url(https://source.unsplash.com/ITjiVXcwVng/1500x1500)
  
  div.panel5
    background: url(https://source.unsplash.com/3MNzGlQM7qs/1500x1500)
  
  div.panel
    background-size: cover
    background-position: center
    box-shadow: inset 0 7px 50px #00000075